<p>Hola {{ usuario.first_name }},</p>

<p>Tu correo ha sido verificado con éxito.</p>

<p>Ahora deberás esperar que el administrador apruebe tu cuenta.</p>

<p>— TextilTrack</p>

email_verificacion.html:
<p>Hola {{ usuario.first_name }},</p>

<p>Gracias por registrarte en <strong>TextilTrack</strong>.</p>

<p>Haz clic en el siguiente enlace para verificar tu correo:</p>

<p><a href="{{ link }}">{{ link }}</a></p>

<p>Este enlace expirará pronto. ¡No lo compartas!</p>

<p>— Equipo TextilTrack</p>

