{% extends 'usuarios/base.html' %}

{% block content %}

{% if not user.is_authenticated %}
    {# Usuario NO logueado -> Mostrar página pública #}
    {% include "usuarios/dashboard_publico.html" %}
{% else %}
    {% if user.rol == "admin" %}
        {% include "usuarios/dashboard_admin.html" %}
    {% elif user.rol == "vendedor" %}
        {% include "usuarios/dashboard_vendedor.html" %}
    {% elif user.rol == "auxiliar" %}
        {% include "usuarios/dashboard_auxiliar.html" %}
    {% endif %}
{% endif %}

{% endblock %}

