{% extends 'usuarios/base.html' %}
{% block title %}Recuperar Acceso{% endblock %}

{% block content %}
<div class="panel-container">

    <h2>Enviar Enlace de Recuperación</h2>

    {% for message in messages %}
        <p class="msg {{ message.tags }}">{{ message }}</p>
    {% endfor %}

    <form method="POST">
        {% csrf_token %}

        <label>Correo electrónico</label>
        <input type="email" name="email" required>

        <button type="submit" class="btn-blue">Enviar enlace</button>

        <p style="text-align:center; margin-top:15px;">
            <a href="{% url 'login' %}">Volver</a>
        </p>
    </form>

</div>
{% endblock %}


