{% extends "usuarios/base.html" %}
{% block title %}Editar Cliente{% endblock %}

{% block content %}

<h2 class="title">Editar Cliente</h2>

<form method="POST" class="form">
    {% csrf_token %}


    <label>Correo</label>
    <input type="email" name="email" value="{{ cliente.email }}">

    <label>Teléfono</label>
    <input type="text" name="telefono" value="{{ cliente.telefono }}">

    <label>Dirección</label>
    <input type="text" name="direccion" value="{{ cliente.direccion }}">

    <button class="btn-blue btn-full">Actualizar</button>
</form>

<a href="{% url 'ventas:lista_clientes' %}" class="btn-outline">← Volver</a>

{% endblock %}
